
.ImageComponent {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-bottom: 1rem;
}

.ImageComponent__img {
    width: 100%;
    height: auto;
}

.ImageComponent__img:hover .IconsComponent {
    opacity: 1;
}

@media only screen and (min-width: 1000px) {
    .ImageComponent {
        padding-bottom: 1.5rem;
        display: inline-block;
    }

    .ImageComponent__img {
        display: block;
    }
}

