
.OrderByComponent__select {
    margin-left: 1rem;
    padding: 0.5rem;
    text-align: center;
}


@media only screen and (min-width: 1000px) {
    .OrderByComponent__select {
        width: 8%;
        margin-left: 2rem;
        padding: 1rem;
    }
    
}
