
.ModalComponent {
    background-color: white;
    left: 0;
    top: 0;
    transform: translate(10%, -140%);
    padding: 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    width: 80%;

}

.ModalComponent__Close {
    transform: translateX(750%);
    cursor: pointer;
}

.ModalComponent__Title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-style: oblique;
}

.ModalComponent__Description {
    height: 5rem;
    width: 100%;
    border: 1px solid black
}

.ModalComponent__list {
    padding-top: 1rem;
    list-style: none;
}

.ModalComponent__list__item {
    padding-bottom: 1rem;
    font-style: oblique;
}

.ModalComponent__list__item__definicion {
    font-style: normal;
    font-weight: bolder;
    display: inline-block;
}

.ModalComponent__send {
    padding: 0.5rem 1.5rem;
    border: none;
    background-color: green;
    color: whitesmoke;
    border-radius: 1rem;
    cursor: pointer;
    transform: translateX(150%);
}


@media only screen and (min-width: 1000px) {

    .ModalComponent {
        width: 250%;
    }
    .ModalComponent__Close {
        transform: translateX(5450%);
    }

    .ModalComponent__Description {
        height: 10rem;
    }

    .ModalComponent__list {
        display: flex;
        justify-content: space-around;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .ModalComponent__send {
        transform: translateX(1100%);
        padding: 1rem 2.5rem;
    }
}